body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  max-width: 1920px;
  overflow: hidden;
}
.overlay {
  position: relative;
  height: 100vh;
  width: 230vw;
  background: rgb(255, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 45%,
    rgba(0, 0, 0, 1) 55%
  );
  z-index: 0;
}
.first {
  height: 291px;
  width: 1494px;
  position: absolute;
  top: 40%;
  left: -1521px;
  background-image: url(./images/img1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
.second {
  height: 219px;
  width: 399px;
  position: absolute;
  top: 40%;
  right: -100vw;
  background-image: url(./images/img2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
.button {
  width: 100px;
  height: 40px;
  border-radius: 15px;
  color: rgb(0, 0, 0);
  position: fixed;
  left: 47vw;
  top: 100px;
  z-index: 2;
}
.button:hover {
  cursor: pointer;
}
.disabled {display: none;}
